/* 
 @Color Palette
    Dark-purple: #0d0d21
    Light-purple: #2E2F43
    Inner-box: #23243d
    Grey: #5A5B69
    Light-grey: #B8BCC5
*/

/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 480px){ 
    .inner-box{
        height: 90vh;
        width: 95%;
        background-color:#0d0d21; 
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }  
    
    /* Form section styling */
    div.form-section{
        width: 90%;
    }
}


@media only screen and (max-width: 600px) {
    .inner-box{
        height: 90vh;
        width: 95%;
        background-color:#0d0d21; 
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }  
    
    div.form-section{
        width: 90%;
    }
    div.btn-classic>button.btn-normal {
        width: fit-content;
    }
}

@media screen and (min-width: 600px) and (max-width: 767.98px){
    .inner-box{
        height: 90vh;
        width: 95%;
        background-color:#0d0d21; 
        /* background-color: #0f102b; */
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }  
    
    /* Form section styling */
    div.form-section{
        width: 90%;
    }

    div.btn-classic>button.btn-normal {
        width: fit-content;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .login-page{
        height: 100vh;
        background-color: #2E2F43;
        /* background-color: #21213e; */
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-box{
        height: 80vh;
        width: 80%;
        background-color:#0d0d21; 
        /* background-color: #0f102b; */
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-heading{
        font-size: 3rem;
        color: white;
        font-weight: bold;
    }


    /* Form section styling */
    div.form-section{
        width: 30%;
        background-color: #2E2F43;
        /* background-color: #21213e; */
        margin-top: 20px;
        padding: 30px 30px;
        border-radius: 10px;
        color: white;
    }

    div.form-section>div{
        display: flex;
        flex-direction: column;
    }

    input#email-field{
        border: 1px solid #5A5B69;
        background-color: #5A5B69;
        color: #B8BCC5;
    }

    input#email-field:focus {
        color: #B8BCC5;
        background-color: #5A5B69;
        border-color: #5681A0;
        outline: 0;
        /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
        box-shadow: 0 0 0 0.25rem rgb(86 129 160 / 25%);
        /* box-shadow: 0 0 0 0.25rem #5681A0/25%; */
    }

    input#password-field{
        border: 1px solid #5A5B69;
        background-color: #5A5B69;
        color: #B8BCC5;
    }

    input#password-field:focus {
        color: #B8BCC5;
        background-color: #5A5B69;
        border-color: #5681A0;
        outline: 0;
        /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
        box-shadow: 0 0 0 0.25rem rgb(86 129 160 / 25%);
        /* box-shadow: 0 0 0 0.25rem #5681A0/25%; */
    }


    div.btn-classic{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.btn-classic>button.btn-normal {
        width: 30%;
        background-color:white;
        border-color:white;
        color: black;
        border-radius: 50px;
        box-shadow: 1px 1px 2px #B8BCC5;
    }

    div.btn-classic>button.btn-normal:hover{
        color: white;
        background-color: #0d0d21;
        border-color: #0d0d21;
        box-shadow: 1px 1px 2px 2px #2E2F43;
    }

    div.sign-up{
        margin-top: 5px;
    }

    div.sign-up>span{
        font-size: 1.2rem;
        color: #B8BCC5;
    }

    div.sign-up>:nth-child(2){
        font-size: 1.2rem;
        color: #5681A0;
    }

    div.sign-up>:nth-child(2):hover{
        color: #5681A0;
        text-decoration: underline;
        cursor: pointer;
    }
}

@media screen and (min-width: 1200px){ /* Desktop */
    .login-page{
        height: 100vh;
        background-color: #2E2F43;
        /* background-color: #21213e; */
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-box{
        height: 80vh;
        width: 80%;
        background-color:#0d0d21; 
        /* background-color: #0f102b; */
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-heading{
        font-size: 3rem;
        color: white;
        font-weight: bold;
    }


    /* Form section styling */
    div.form-section{
        width: 30%;
        background-color: #2E2F43;
        /* background-color: #21213e; */
        margin-top: 20px;
        padding: 30px 30px;
        border-radius: 10px;
        color: white;
    }

    div.form-section>div{
        display: flex;
        flex-direction: column;
    }

    input#email-field{
        border: 1px solid #5A5B69;
        background-color: #5A5B69;
        color: #B8BCC5;
    }

    input#email-field:focus {
        color: #B8BCC5;
        background-color: #5A5B69;
        border-color: #5681A0;
        outline: 0;
        /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
        box-shadow: 0 0 0 0.25rem rgb(86 129 160 / 25%);
        /* box-shadow: 0 0 0 0.25rem #5681A0/25%; */
    }

    input#password-field{
        border: 1px solid #5A5B69;
        background-color: #5A5B69;
        color: #B8BCC5;
    }

    input#password-field:focus {
        color: #B8BCC5;
        background-color: #5A5B69;
        border-color: #5681A0;
        outline: 0;
        /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
        box-shadow: 0 0 0 0.25rem rgb(86 129 160 / 25%);
        /* box-shadow: 0 0 0 0.25rem #5681A0/25%; */
    }


    div.btn-classic{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.btn-classic>button.btn-normal {
        width: 30%;
        background-color:white;
        border-color:white;
        color: black;
        border-radius: 50px;
        box-shadow: 1px 1px 2px #B8BCC5;
    }

    div.btn-classic>button.btn-normal:hover{
        color: white;
        background-color: #0d0d21;
        border-color: #0d0d21;
        box-shadow: 1px 1px 2px 2px #2E2F43;
    }

    div.sign-up{
        margin-top: 5px;
    }

    div.sign-up>span{
        font-size: 1.2rem;
        color: #B8BCC5;
    }

    div.sign-up>:nth-child(2){
        font-size: 1.2rem;
        color: #5681A0;
    }

    div.sign-up>:nth-child(2):hover{
        color: #5681A0;
        text-decoration: underline;
        cursor: pointer;
    }
}